<!DOCTYPE HTML>
<html class="greybody">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <link href="/css/landing-page.css " rel="stylesheet">
    <link href="/css/font-awesome.min.css " rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
    <script src="/js/vue.js"></script>
    <title>Details</title>
  </head>
  <body class="greybody jobdescbody">
    <jobdetails></jobdetails>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS5Xp6T5vm6b3RJ00hfrVaTdYRrIEqHMo"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/front/jobDetails.js"></script>
  </body>
</html>
