<!DOCTYPE HTML>
<html class="greybody">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/landing-page.css " rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/vue.js"></script>
    <title>Home Page</title>
  </head>
  <body class="greybody jobdescbody">
    <jobdetails></jobdetails>
    <script type="text/javascript" src="/js/front/jobDetails.js"></script>
  </body>
</html>
