{# resources/views/layout/home.html #}
{% extends 'index' %}
{% block title %}
	Home Page
{% endblock %}
{% block content %}
	<a name="about"></a>
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1 class="landing">PencariLoker.com</h1 class="landing">
						<h3 class="landing">Solusi Kerja Masa Kini</h3 class="landing">
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="http://pencariloker.tk/jobs" class="btn btn-default btn-lg"><i class="fa fa-search fa-fw"></i> <span class="network-name">Cari Lowongan</span></a>
							</li>
							<!-- <li>
												<a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<a  name="services"></a>
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="landing" class="section-heading">Sulit Mendapat Pekerjaan?<br><br><a href="http://pencariloker.tk/jobs" class="btn btn-default btn-lg"><i class="fa fa-search fa-fw"></i> <span class="network-name">Cari Lowongan</span></a></h2 class="landing">
					<p class="lead">Berbagai lowongan tersedia di <a target="_blank" href="#">PencariLoker.com</a>. <br>Ayo segera upload CV anda dan dapatkan pekerjaan yang anda impikan !</p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img class="img-responsive" src="/img/ipad.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<div class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="landing" class="section-heading">Sulit mencari calon karyawan?<br><br></h2 class="landing">
					<p class="lead">Segera pasang lowongan anda di <a target="_blank" href="#">PencariLoker.com</a>! <br> Anda akan segera mendapatkan karyawan yang sesuai dengan kriteria perusahaan anda.</p>
				</div>
				<div class="col-lg-5 col-sm-pull-6  col-sm-6">
					<img class="img-responsive" src="img/dog.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-b -->
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="landing" class="section-heading">Butuh karyawan berkualitas?</h2 class="landing">
					<p class="lead">Kami menyediakan fitur ujian secara online untuk mensortir calon karyawan yang melamar di perusahaan anda.</p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img class="img-responsive" src="/img/phones.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-a -->
	<a  name="contact"></a>
	<div class="bannerlanding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="landing">Follow us :</h2 class="landing">
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://twitter.com" class="btn btn-default btn-lg" style="width:170px;background:none;color:white;"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
						</li>
						<li>
							<a href="http://instagram.com" class="btn btn-default btn-lg" style="width:170px;background:none;color:white;"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
						</li>
						<li>
							<a href="http://facebook.com" class="btn btn-default btn-lg" style="width:170px;background:none;color:white;"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.banner -->
	<div class="landing footer" style="font-size:14px !important;">
		<div class="container">
			<div class="col-md-3 grid_3">
				<h4>Navigasi</h4>
				<ul class="f_list f_list1">
					<li><a href="http://pencariloker.tk">Home</a></li>
					<li><a href="http://pencariloker.tk/login">Masuk</a></li>
					<li><a href="http://pencariloker.tk/register">Daftar</a></li>
					<!--                <li><a href="#">Tentang PencariLoker.com</a></li>
				</ul>
				<ul class="f_list">
					<li><a href="#">Kebijakan Privasi</a></li>
					<li><a href="#">Aturan Penggunaan</a></li>
					<li><a href="#">Hubungi Kami</a></li>
					<li><a href="#">Pasang Lowongan</a></li>
				</ul> -->
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 grid_3">
				<h4>Tim PKM Mikroskil 2015</h4>
				<div class="footer-list">
					<ul>
						<li><p><span><i class="fa fa-user tw1"></i></span>Dennis Daslim – 131112641</li>
						<li><p><span><i class="fa fa-user tw1"></i></span>Adeline Rosabella – 131110381</li>
						<li><p><span><i class="fa fa-user tw1"></i></span>Javentira Lienata – 131110950</li>
						<li><p><span><i class="fa fa-user tw1"></i></span>Michael – 131111718</li>
						<li><p><span><i class="fa fa-user tw1"></i></span>Denny  Ho – 141110191</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 grid_3">
				<h4>PencariLoker.com</h4>
				<p>PencariLoker.com adalah sebuah website dirancang untuk membantu masyarakat menemukan lowongan pekerjaan yang sesuai dengan kemampuannya dan juga membantu perusahaan dalam mensortir calon karyawan.</p>
			</div>
			<!--         <div class="col-md-3 grid_3">
				<h4>Daftarkan Email anda</h4>
				<p>Daftarkan email anda untuk menerima pemberitahuan update pada website</p>
				<form>
					<input type="text" class="form-control" placeholder="Masukkan Email anda" style="padding:0 15px;">
					<button type="button" class="btn red">Daftar sekarang!</button>
				</form>
			</div> -->
			
			
			<div class="clearfix"> </div>
			<h4 class="copy">
			<p>Copyright © 2015 PencariLoker.com</a> </p>
			</h4>
		</div>
	</div>
</div>
{% endblock %}