<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf" content="{{ csrfToken }}">
  <title></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <style>
    [v-cloak] {
      display: none;
    }
    .text-error{
      font-size:11px;
      color: red
    }
    .turunkanbbm{
      margin-top:50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <validator name="validation">
    <div class="col-md-5 col-md-offset-4 turunkanbbm" v-cloak>
      <h1>Login</h1>
      <hr>

      <div class="alert alert-warning" v-show="on.error">
        <strong>Terjadi Kesalahan</strong>
      </div>

      <div class="alert alert-warning" v-show="on.INVALID_LOGIN">
        <strong>Login Gagal</strong>
      </div>

      <div class="form-group">
        <input type="email" name="email" id="input" class="form-control" placeholder="Email" v-validate:email="['required', 'email']" @keyup.enter="login">

        <!-- <p class="text-error" v-if="">Email Required</p> -->
        <p class="text-error" v-show="$validation.email.touched && $validation.email.required">Email tidak boleh kosong.</p>
        <p class="text-error" v-show="!$validation.email.required &&$validation.email.email">Email tidak valid</p>
      </div>

      <div class="form-group">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" v-validate:password="['required']" @keyup.enter="login">
         <p class="text-error" v-show="$validation.password.touched && $validation.password.required">Sandi tidak boleh kosong</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary" @click="login">Login</button>
      </div>

      <p class="text-center"><small>&copy;</small> Pencariloker</p>
    </div>
    </validator>
  </div>
  <script src="/js/bambambole/login.js"></script>
</body>
</html>
