<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/sb-admin-2.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/sweetalert.css">
  <link rel="stylesheet" href="/css/summernote.css">
	<meta name="csrf" content="{{ csrfToken }}">
</head>
<body>
	<div id="app">
  		<router-view></router-view>
	</div>
  <script type="text/javascript" src="/js/bambambole/users.js"></script>
</body>
</html>
